<div class="d-flex justify-content-center">
  <div class="card text-bg-dark rounded-0 border-0" style="height: auto; width: 100%; max-width:50rem;">
    <div class="text-center">
      
        
        <% if current_page?(page_about_path)%>
          <%= image_tag('adalaide.jpg', style: 'height: auto; width: 100%; max-width:50rem;')%>
          <div class="card-img-overlay bg-dark", style="--bs-bg-opacity: .4; height: auto; width: 100%; max-width:50rem;"  >
            <br>
            <br>
            <h1 class="card-title">About me</h1>
            <p class="card-text">I've been teaching mathematics for over ten years. I am a returned Peace Corps volunteer. </p>
          
            
                <div class="card">
                  <div class="card-body text-dark">
                    <h5 class="card-title">Peace Corps - Ecuador</h5>
                    <p class="card-text">I served in the country of Ecuador.</p>
                  </div>
                </div>
              
              <br>
              <br>
              
                <div class="card">
                  <div class="card-body text-dark">
                    <h5 class="card-title">Ice Fishing</h5>
                    <p class="card-text">It's more fun than you think, honestly!</p>
                  </div>
                </div>
              
          </div>  
        <% else %>
          <%= image_tag('banana.jpg', style: 'height: auto; width: 100%; max-width:50rem;')%>
          <div class="card-img-overlay bg-dark", style="--bs-bg-opacity: .4; height: auto; width: 100%; max-width:50rem;"  >
            <h1 class="card-title">About me</h1>
            <p class="card-text">I'm an experienced problem solver and I enjoy programming, mathematics, and creating new things. I currently teach mathematics and live in New England with my wife and two cats.</p>
            <%= button_to "Learn more about me!", page_about_path, method: :get, class:'btn btn-light' %>
          </div>
        <% end %>  

      
    </div>
  </div>
</div>