<div class="d-flex justify-content-center">
  <div class="card text-bg-dark rounded-0 border-0" style="height: auto; width: 100%; max-width:50rem;">
    <div class="text-center">
      
        
        <% if current_page?(page_about_path)%>
          
          <div class="card bg-info rounded-0 border-0", style="--bs-bg-opacity: .6; height: auto; width: 100%; max-width:50rem;"  >
            <div class="card-body">
            <br>
            <br>
            <h1 class="card-title">About me</h1>
            <div class="mx-auto", style="max-width: 500px;">
              <p class="card-text">Hi, I'm David (he/him)! I've been teaching mathematics for over ten years. 
              I'm a skilled communicator and I love problem solving! I'm a self-taught programmer/web developer. 
              I love building applications that are simple, functional, and amazing!
              </p>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 300px;">
                <div class="card">
                  <div class="card-body text-dark">
                  <h5 class="card-title"> Technical skills:</h5>
                  
                    <ul class="card-text">
                      <li class="d-flex justify-content-left">Ruby on Rails</li>
                      <li class="d-flex justify-content-left">JavaScript</li>
                      <li class="d-flex justify-content-left">HTML5</li>
                      <li class="d-flex justify-content-left">CSS3</li>
                      <li class="d-flex justify-content-left">SQL</li>
                      <li class="d-flex justify-content-left">Git</li>
                      

                    </ul>
                    
                    
                  </div>
                </div>
            </div>   
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 300px;">
                <div class="card">
                  <div class="card-body text-dark">
                  
                    
                    <h5 class="card-title">Soft skills:</h5>
                  
                    <ul class="card-text" style="list-style: none;">
                      <li class="d-flex justify-content-left">Interpersonal communication</li>
                      <li class="d-flex justify-content-left">Collaborative teamwork</li>
                      <li class="d-flex justify-content-left">Problem solving</li>
                      <li class="d-flex justify-content-left">Indepent motivation</li>
                      

                    </ul>
                  </div>
                </div>
            </div>
            <hr>
            <div class="mx-auto", style="max-width: 500px;">
              <p>I live in New England with my wife and two cats. I enjoy crossword puzzles, ice fishing, and music. 
              Click on some of the links below to learn about the things I love!
              </p>
            </div>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 300px;">
                <div class="card">
                  <div class="card-body text-dark">
                    
                    <img src="https://cdn.cdnlogo.com/logos/u/3/us-peace-corps.svg" style="width: 40px"></a>
                    <h5 class="card-title d-inline">Peace Corps - Ecuador</h5>
                    <p class="card-text">My wife and I served as volunteers in the country of Ecuador for two years, living and working in the capital city of Quito.</p>
                    <a href="" class="btn btn-secondary"> Watch our video!</a>
                    <a href="https://www.peacecorps.gov/ecuador/" class="btn btn-secondary"> Learn more</a>
                    

                  </div>
                </div>
              
              <br>
                
                
             
              
                <div class="card">
                  <div class="card-body text-dark">
                    <h5 class="card-title">Cat Pictures</h5>
                    <p class="card-text">I have two cats, Lucy and Adalaide. They're adorable and amazing.</p>
                    <a href="" class="btn btn-secondary"> Bring on the pictures!</a>
                  </div>
                </div>

                <br>
             
              
                <div class="card">
                  <div class="card-body text-dark">
                    
                    <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v24h24v-24h-24zm4.667 15.524c-.405-.365-.667-.903-.667-1.512 0-.608.262-1.146.667-1.512v3.024zm1.333.476c-.243 0-.369.003-.667-.092v-3.792c.316-.101.465-.097.667-.081v3.965zm1.333 0h-.666v-3.778l.206.121c.091-.375.253-.718.461-1.023v4.68zm1.334 0h-.667v-5.378c.206-.154.426-.286.667-.377v5.755zm1.333 0h-.667v-5.905c.251-.027.328-.046.667.006v5.899zm1.333 0h-.667v-5.7l.253.123c.119-.207.261-.395.414-.572v6.149zm6.727 0h-6.06v-6.748c.532-.366 1.16-.585 1.841-.585 1.809 0 3.275 1.494 3.411 3.386 1.302-.638 2.748.387 2.748 1.876 0 1.143-.869 2.071-1.94 2.071z"/></svg> Music</a></h5>
                    <p class="card-text">I make electronic music! Check out my Soundcloud and turn up the sound!</p>
                    <a href="https://soundcloud.com/somethingsmellsfishy" class="btn btn-secondary" style="text-decoration: none;">Let's go!</a>
                  </div>
                </div>
              </div> 
              <br>
              </div>
          </div>  
        <% else %>
          <%= image_tag('banana.jpg', style: 'height: auto; width: 100%; max-width:50rem;')%>
          <div class="card-img-overlay bg-dark rounded-0 border-0", style="--bs-bg-opacity: .4; height: auto; width: 100%; max-width:50rem;">
            <h1 class="card-title">About me</h1>
             <p class="card-text">I'm an experienced problem solver who enjoys programming, mathematics, and creating new things.</p>
            <%= button_to "Learn more about me!", page_about_path, method: :get, class:'btn btn-light' %>
          </div>
        <% end %>  

      
    </div>
  </div>
</div>