<div class="card text-bg-dark rounded-0 border-0">
  <div class="text-center">
    <%= image_tag 'banana', style: 'height: auto; width: 100%; max-width:50rem;'%>
    <div class="card-img-overlay" >
      <h5 class="card-title">About me</h5>
      <p class="card-text">I'm a go-getter. And a stop-napper. </p>
      <p class="card-text"><small>This is small text.</small></p>
    </div>
  </div>
</div>