

<div class="d-flex justify-content-center">
  <div class="card bg-dark text-bg-dark rounded-0 border-0" style="height: auto; width: 100%; max-width:50rem;">
    <div class="text-center">
      
        <% if current_page?(page_contact_path)%>
          
            
            <div class="card rounded-0 border-0", style="background-color: #9F6B99FF ; height: auto; width: 100%; max-width:50rem;" >
              <div class="card-body">
              <br>
              <br>
            
              <h1 class="card-title">Contact Me</h1>
              <p class="card-text">Use the links below to get in touch with me.</p>
            
              
              <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 300px;">
                <div class="card bg-light shadow-lg" style="--bs-bg-opacity: 0.9; border: none;">
                  <div class="card-body text-dark">
                    <h5 class="card-title" style="margin-bottom: 20px">
                    Send me a message</h5>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#591c0b" class="bi bi-envelope-at" viewBox="0 0 16 16" style="margin-bottom: 10px">
  <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
  <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
</svg>
                    <p class="card-text d-flex justify-content-center">
            
                      davidbielik@gmail.com</p>
                      
                      <a href="mailto: davidbielik@gmail.com" class="btn btn-secondary shadow-sm" style="text-decoration: none; border-radius: 20px;">Email me</a>
                        
                      
                  </div>
                  <div class="card-body text-dark">
                    <svg viewBox="328 355 335 276" width="48" height="48" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 10px">
                      <path d="
                        M 630, 425
                        A 195, 195 0 0 1 331, 600
                        A 142, 142 0 0 0 428, 570
                        A  70,  70 0 0 1 370, 523
                        A  70,  70 0 0 0 401, 521
                        A  70,  70 0 0 1 344, 455
                        A  70,  70 0 0 0 372, 460
                        A  70,  70 0 0 1 354, 370
                        A 195, 195 0 0 0 495, 442
                        A  67,  67 0 0 1 611, 380
                        A 117, 117 0 0 0 654, 363
                        A  65,  65 0 0 1 623, 401
                        A 117, 117 0 0 0 662, 390
                        A  65,  65 0 0 1 630, 425
                        Z"
                        style="fill:#3BA9EE;"/>
                    </svg>

                    <p class="card-text d-flex justify-content-center">
                    @davidbielik3000</p>
                    
                      <p class="card-text"><a href="https://twitter.com/messages/compose?recipient_id=2567986313" class=" btn btn-secondary shadow-sm" data-size="large" data-screen-name="@davidbielik3000" style="border-radius: 20px;">
                      Direct message</a></p><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    
                  </div>
                </div>
                
                <br>
                
                <div class="card bg-light shadow-lg" style="--bs-bg-opacity: 0.9; border: none;">
                  <div class="card-body text-dark ">
                    <h5 class="card-title" style="margin-bottom: 10px">Connect with me</h5>
                      
                      <svg width="78" height="78" viewBox="0 0 48 48" fill="#0077B5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M20.9716667,33.5527338 L25.001,33.5527338 L25.001,27.1328007 C25.001,25.439485 25.3213333,23.7988354 27.4206667,23.7988354 C29.491,23.7988354 29.517,25.7351486 29.517,27.2404662 L29.517,33.5527338 L33.5506667,33.5527338 L33.5506667,26.4341413 C33.5506667,22.9381777 32.796,20.2505391 28.711,20.2505391 C26.7483333,20.2505391 25.432,21.3265278 24.8943333,22.3471839 L24.839,22.3471839 L24.839,20.5725357 L20.9716667,20.5725357 L20.9716667,33.5527338 Z M16.423,14.1202696 C15.1273333,14.1202696 14.0823333,15.1682587 14.0823333,16.4595785 C14.0823333,17.7508984 15.1273333,18.7992208 16.423,18.7992208 C17.7133333,18.7992208 18.761,17.7508984 18.761,16.4595785 C18.761,15.1682587 17.7133333,14.1202696 16.423,14.1202696 L16.423,14.1202696 Z M14.4026667,33.5527338 L18.4406667,33.5527338 L18.4406667,20.5725357 L14.4026667,20.5725357 L14.4026667,33.5527338 Z M9.76633333,40 C8.79033333,40 8,39.2090082 8,38.2336851 L8,9.76631493 C8,8.79065843 8.79033333,8 9.76633333,8 L38.234,8 C39.2093333,8 40,8.79065843 40,9.76631493 L40,38.2336851 C40,39.2090082 39.2093333,40 38.234,40 L9.76633333,40 Z" id="Shape"></path>
                      </svg>
                      <p class="card-text d-flex justify-content-center">

  
                      Connect on Linkedin</p>
                      <a href="https://www.linkedin.com/in/david-bielik-385186256/" class="btn btn-secondary shadow-sm" style=" border-radius: 20px">View profile</a>
                    
          
                  </div>
                
                
                  <div class="card-body text-dark" style="margin-bottom: 20px">
                      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#000000" viewBox="0 0 24 24" style="margin-bottom: 10px"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg> 
                        
                      <p class="card-text d-flex justify-content-center">
                      Follow me on GitHub</p>
                      <a href="https://github.com/dbielik236" class="btn btn-secondary shadow-sm" style="border-radius: 20px">View profile</a>
                  </div>
                </div>

              </div>  


              
                
              
              <br>
            </div>
          </div>
          
        <% else %>
          <%= image_tag("avocado.jpg", alt: "Cut open avocado with a pink background", style: 'height: auto; width: 100%; max-width:50rem;')%>
          <div class="card-img-overlay bg-dark rounded-0 border-0", style="--bs-bg-opacity: .3; height: auto; width: 100%; max-width:50rem;" >
            <h1 class="card-title">Contact Me</h1>
            <p class="card-text">I'd love to hear from you! Reach out by email or Twitter or connect on Linkedin.</p>  
            <%= button_to "Get in touch", page_contact_path, method: :get, class:'btn btn-light shadow-lg', style:'border-radius: 20px' %>
            
          </div>
        <% end %>

        
        

      
    </div>  
  </div>
</div>

