<div class="card text-bg-dark rounded-0 border-0">
  <div class="text-center">
    
    <div class="card-img-overlay">
      <h5 class="card-title">Contact me</h5>
      <p class="card-text">Email: davidbielik@gmail.com</p>
      <p class="card-text"><small>You can also find me on Linkedin and Github</small></p>
    </div>
  </div>
</div>