<div class="card text-bg-dark rounded-0 border-0 ">
  <div class="text-center">
    <%= image_tag("orange.jpg", style: 'height: auto; width: 100%; max-width:50rem;')%>
    <div class="card-img-overlay">
      <h5 class="card-title">Portfolio</h5>
      <p class="card-text">Here are some project I'm proud of!</p>
      <p class="card-text"><small>Check out more on my github</small></p>
    </div>
  </div>  
</div>