
<div class="text-center">
  <%= image_tag 'adalaide.jpg', alt: "David with sleeping cat in his arms", style: 'height: auto; width:100%; max-width:50rem;'%>
</div>

<%= render 'about' %>
<%= render 'portfolio' %>
<%= render 'contact' %>

